In [1]:
import xarray as xr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
folder_nhc = "/home/pplatzer/Documents/pro/postdoc/DATA/TC_NHC/"
file_nhc = "1970-present_OFCL_v_BCD5_ind_ATL_TI_errors_noTDs.txt"

In [14]:
pd.read_csv(folder_nhc+file_nhc, skipinitialspace=True, sep=' ',
            skiprows=10, header=0, na_values="-9999.0")

,Date/Time,STMID,F012,F024,F036,F048,F060,F072,F096,F120,...,012hI02,024hI02,036hI02,048hI02,060hI02,072hI02,096hI02,120hI02,144hI02,168hI02
0,20-05-1970/00:00:00,AL011970,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20-05-1970/06:00:00,AL011970,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20-05-1970/12:00:00,AL011970,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20-05-1970/18:00:00,AL011970,1.00,1.00,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21-05-1970/00:00:00,AL011970,0.33,0.33,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12754,27-10-2023/18:00:00,AL202023,0.33,0.33,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12755,28-10-2023/00:00:00,AL202023,0.33,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12756,28-10-2023/06:00:00,AL202023,0.33,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12757,28-10-2023/12:00:00,AL202023,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12758,28-10-2023/18:00:00,AL202023,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN